*{
    margin:0;
    padding:0;
}
.mainContainer{
    width: 40vw;
    margin: auto;
    border: 1px solid black;
}
.inputContainer{
    padding: 5px 20px;
}
.inputContainer input{
    width: 100%;
}
.submit{
    width: 100px;
    background-color: blue;
    color: white;
    border: none;
    height: 26px;
    border-radius: 10%;
}
.submit:hover{
    background-color: darkred;
}